/*
 * Calendars
 */
.ocal_calendars, .ocal_week_calendars {
    text-align: center;
    position: relative;
}
.ocal_toolbar, .ocal_loaderbar {
    margin: 1em 0;
}
.ocal_loaderbar {
    display: none;
    /*position: absolute;*/
    /*left: 40%;*/
    /*top: 40%;*/
    /*z-index: 1;*/
}
.ocal_toolbar span {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 1em;
    vertical-align: middle;
}
.ocal_save {
    vertical-align: middle;
}
.ocal_calendar {
    display: inline-block;
    margin: 0 0.5em 1em 0.5em;
    padding: 0 0.5em;
    vertical-align: top;
    border-collapse: collapse;
    /*min-height: 14em;*/
}
.ocal_calendar td {
    padding: 0.2em;
    text-align: center;
}
.ocal_today {
    font-weight: bold;
}

/**
 * States
 */
.ocal_state {
    border: 1px solid #888;
}
[data-ocal_state="0"] {
    background: white;
    color: black;
}
[data-ocal_state="1"] {
    background: green;
    color: white;
}
[data-ocal_state="2"] {
    background: yellow;
    color: black;
}
[data-ocal_state="3"] {
    background: red;
    color: white;
}

/**
 * Lists
 */
.ocal_list {}
.ocal_list>dt {
    font-weight: bold;
}
.ocal_list>dd {
    margin-left: 0;
}
.ocal_list dl {
    overflow: hidden;
}
.ocal_list dl dt {
    float: left;
    clear: left;
    width: 8em;
    text-align: right;
}
.ocal_list dl dd {
    margin-left: 9em;
}

/*
 * Pagination
 */
.ocal_pagination {
    margin: 1em 0;
}
.ocal_mode {}

/*
 * Back-end
 */
.ocal_logo {
    float: left;
}
.ocal_license {
    text-align: justify;
}
