/*
 * Calendars
 */
.ocal_calendars {
    text-align: center;
}
.ocal_pagination {
    margin: 1em 0;
}
.ocal_toolbar, .ocal_loaderbar {
    margin: 1em 0;
}
.ocal_loaderbar {
    display: none;
}
.ocal_toolbar span {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 1em;
    vertical-align: middle;
}
.ocal_save {
    vertical-align: middle;
}
.ocal_calendar {
    display: inline-block;
    margin: 0 0.5em 1em 0.5em;
    padding: 0 0.5em;
    vertical-align: top;
    border-collapse: collapse;
}
.ocal_calendar td {
    padding: 0.2em;
    text-align: center;
}

.ocal_state_0, .ocal_state_1, .ocal_state_2, .ocal_state_3 {
    border: 1px solid #888;
}
.ocal_state_0 {
    background: white;
    color: black;
}
.ocal_state_1 {
    background: green;
    color: white;
}
.ocal_state_2 {
    background: yellow;
    color: black;
}
.ocal_state_3 {
    background: red;
    color: white;
}

/*
 * Back-end
 */
.ocal_logo {
    float: left;
}
.ocal_license {
    text-align: justify;
}
